body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-weight: bold;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.error {
    color: red;
    text-align: center;
    margin-top: 15px;
}

.resultado {
    text-align: center;
    margin-top: 20px;
}

.grafico {
    text-align: center;
    margin-top: 20px;
}
.footer {
    background-color: #f8f8f8; /* Color de fondo */
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #e7e7e7;
    position: fixed; /* Fija el footer en la parte inferior */
    width: 100%;
    bottom: 0;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-logo {
    max-width: 120px; /* Tamaño máximo del logo */
    margin-bottom: 10px;
}

.footer-text {
    font-size: 14px;
    color: #333;
    margin: 0;
}
